<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>フッター</title>
</head>

<body>

<footer id="footer" th:fragment="layout-footer">

    <style>
        .footer-area {
            background-color: rgb(128, 128, 128);
            color: white;
            text-align: center;
            padding: 20px;
            margin-top: 50px;
        }
    </style>

    <div class="footer-area">
        ©Cytech EC.com
    </div>

</footer>

</body>
</html>